/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  /* Variables CSS */
  :root {
    --primary-color: #6e6ec7;
    --background-light: #e8e8e8;
    --gap-size: 20px;
  }
  
  h1 {
    text-align: center;
    margin-top: 2vh;
  }

  /* Container principal */
  .container {
    display: flex;
    gap: var(--gap-size);
    padding: var(--gap-size);
    width: 100%;
    overflow: auto;
  }
  
  /* Colonnes avec répartition 2/3 - 1/3 */
  .column1 {
    flex: 3;
    min-width: 300px;
  }
  
  .column2 {
    flex: 1;
    min-width: 300px;
    padding: var(--gap-size);
  }
  
  
  /* Carte */
  #map {
    width: 100%;
    height: 80vh;
    min-height: 300px;
    position: relative;
    z-index: 1;
  }
  
  /* Formulaire */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px; /* Évite le zoom sur mobile */
  }
  
  #add_spot {
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: auto;
    background-color: var(--primary-color);
    color: white;
  }
  
  #add_spot:hover {
    background-color: var(--primary-color);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 10px;
      padding: 10px;
    }
  
    .column1, .column2 {
      min-width: 100%;
    }
  
    #map {
      height: 50vh;
      min-height: 250px;
    }
  }
  
  /* Optimisations Leaflet */
  .leaflet-container {
    background: var(--background-light) !important;
  }
  
  .leaflet-control-attribution {
    font-size: 0.8rem !important;
  }
  
  .leaflet-touch .leaflet-control-zoom {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
  
  #form {
    margin: 10px 0;
  }

  /* styles.css */
.place-details {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.info-line {
  margin: 10px 0;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.info {
  line-height: 1.6;
}

.info-line span {
  font-weight: bold;
  color: #666;
}


.upload-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.upload-button:hover {
  background-color: var(--primary-color); 
}

#preview {
  display: block;
  margin-top: 20px;
}

.leaflet-popup-content {
  width: 400px !important;
  margin: 13px 24px !important;
}

.leaflet-popup {
  min-width: 600px;
}

.leaflet-popup-content-wrapper {
  width: auto;
  min-width: 600px;
  padding: 20px;
}

